<div class="form-container">
    <h3 class="text-center">Sign-Up Form</h3>
    <hr>
    <form [formGroup]="signUpForm">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="First Name" name="firstname" formControlName="firstName">
            <ng-container *ngIf="firstName.untouched; then info; else message"></ng-container>

            <ng-template #info>
                <i class="fa fa-info-circle "></i>
            </ng-template>
            <ng-template #message>
                <i class="fa fa-check-circle ok" [ngClass]="{ 
                    'fa-check-circle':firstName.valid,
                    'ok':firstName.valid,
                    'fa-times-circle':!firstName.valid,
                    'error':!firstName.valid
            }"></i>
                <!-- {{firstName.errors | json}} -->
                <div class="message-box" *ngIf="firstName.errors">
                    <div *ngIf="firstName.errors.required">First name is required</div>
                    <div *ngIf="firstName.errors.minlength">Required length is {{firstName.errors.minlength.requiredLength}} </div>
                    <div *ngIf="firstName.errors.maxlength">Manimum length allowed {{firstName.errors.maxlength.requiredLength}}</div>
                    <div *ngIf="firstName.errors.pattern">First Name is no valid</div>
                </div>
                <!-- <i class="fa fa-times-circle error"></i> -->
            </ng-template>
            <!-- <i class="fa fa-check-circle ok"></i>
            <i class="fa fa-times-circle error"></i> -->
        </div>

        <div class="form-group">
            <input type="text" class="form-control" placeholder="Last Name" name="lastname" formControlName="lastName">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Username" name="username" formControlName="userName">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" name="password" formControlName="password">
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <button class="btn btn-secondary form-control" (click)="resetForm()" [disabled]="signUpForm.untouched">Reset</button>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <button class="btn btn-primary form-control" type="submit" [disabled]="signUpForm.invalid ">Signup</button>
                </div>
            </div>
        </div>

    </form>
    <p>{{signUpForm.value | json}}</p>
    <p>{{signUpForm.valid }}</p>

</div>