<!-- <h3>{{courseTitle}} - ({{getCourseCount()}})</h3> -->
<h3 title="number of course is {{courseCount}}">{{courseTitle}} ({{courseCount}})</h3>

<!-- <div *ngIf="courseList.length>0; then courseBlock else noCourseBlock"></div> -->
<ng-container *ngIf="courseList.length>0; then courseBlock else noCourseBlock"></ng-container>
<ng-template #courseBlock>
    <ul>
        <li *ngFor="let course of courseList ">
            {{course}} <button (click)="removeCourse(course)">Remove</button>
        </li>
    </ul>
</ng-template>

<ng-template #noCourseBlock>
    <p>
        No courses available
    </p>
</ng-template>
<!-- <ul [hidden]="courseList.length==0">
    <li *ngFor="let course of courseList ">
        {{course}} <button (click)="removeCourse(course)">Remove</button>
    </li>
</ul>
<p [hidden]="courseList.length!==0">
    No courses available
</p> -->