<div class="container">
    <h3>Posts List</h3>
    <hr>
    <form (ngSubmit)="createPost()" [formGroup]="createPostForm" class="postform">
        <div class="row">
            <div class="col-7">
                <div class="form-group">
                    <input type="text" class="form-control" name="title" formControlName="title" placeholder="Enter Title">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <input type="text" class="form-control" name="author" formControlName="author" placeholder="Enter Author">
                </div>
            </div>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="description" formControlName="description" placeholder="Enter Description">
        </div>
        <div class="form-group">
            <button class="btn btn-primary" [class.btn-success]="newDataInserted" type="submit" [disabled]="createPostForm.invalid">{{!newDataInserted?'Create':'New Post Created'}}</button>
        </div>

    </form>
    <div class="post-container">
        <div class="post row" *ngFor="let post of postList">
            <div class="col-2">
                <button class="btn btn-primary form-control " (click)="updatePost(post)">Update</button>
                <button class="btn btn-danger form-control " (click)="deletePost(post)">Delete</button>
            </div>
            <div class="col-1 notification">
                <!-- <div>like</div>
                    <div class="count">2</div> -->
                <app-like [isLiked]="post.like || false" [count]="post.count || 0" [idVal]="post.id" (likeUpdate)="updatePostLike($event)"></app-like>
            </div>
            <div class="col">
                <div class="title">
                    <b class="name ">{{post.title}}</b> ~ <small><i>{{post.author}}</i></small>
                </div>
                <div class="description">
                    {{post.description}}
                </div>
            </div>

        </div>
    </div>

</div>