// @import '~font-awesome/css/font-awesome.min.css';
.fa {
    font-size: 30px;
    cursor: pointer;
    &.liked {
        color: blue;
    }
    &.unliked {
        color: gray;
    }
}

span {
    font-weight: bold;
    color: green;
}

// .fa {
//     font-size: 30px;
// }
// .fa.liked {
//     color: blue;
// }
// .fa.unliked {
//     color: gray;
// }